﻿@model WebAPP.Models.Student
@{
    ViewData["Title"] = "Details";
}
<div>
    <h4>Student Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cls)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cls)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Ok</a>
</div>
