﻿@model IEnumerable<WebAPP.Models.Student>
@{
    ViewData["Title"] = "Student database";
}
<h2>Student Database</h2>
<p>
    <a asp-action="Create">Create new student</a> | <a asp-action="Sort">Sort Student</a>
</p>
<table class="table table-bordered" style="width:600px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item._id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item._id }) |
                    @Html.ActionLink("Details", "Details", new { id = item._id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item._id })
                </td>
            </tr>
        }
    </tbody>
</table>
